@media(max-width: 1180px) {
    main.container {
        padding: 20px;
    }

    main.container h1 {
        text-align: center;
    }

    main.container .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 98%;
    }

    main.container .filter div {
        width: 68%;
    }

    main.container .filter .btn-filtrar {
        align-self: center;
        
    }

    main.container .filter .cards-categoria,
    main.container .filter .cards-price,
    main.container .filter .btn-filter {
        align-self: center;
        max-width: 100%;
        min-width: 190px;
    }

    main.container .filter .btn-filtrar {
        align-self: center;
    }

    main.container .cards {
        justify-content: center;
    }
}
@media(max-width: 817px) {
    main.container .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 75%;
    }

    main.container .filter div {
        width: 65%;
    }
}