@media(max-width: 1173px) {
    main.container {
        padding: 20px;
    }

    main.container h1{
        text-align: center;
    }

    main.container .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    main.container .filter .cards-categoria,
    main.container .filter .cards-price,
    main.container .filter .btn-filter {
        width: 65%;
    }

    main.container .filter .btn-filtrar {
        align-self: center;
    }

    main.container .cards {
        justify-content: center;
    }
}

@media(max-width: 480px) {
    main.container .filter .cards-categoria,
    main.container .filter .cards-preco,
    main.container .filter .btn-filter {
        width: 100%;
    }
}