body {
    font-family: "roboto", sans-serif;
}

body .header {
    background-color: #0E0027;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 60px;
}

body .container {
    max-width: 1170px;
    margin: 0 auto;
}

main.container .products {
    color: #6528d3;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 32px;
    letter-spacing: 2px;
}

main.container .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    max-width: 98%;
    margin: 0 auto;
}

main.container .filter div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;

}


main.container label {
    letter-spacing: 2px;
    font-weight: 500;
    color: #6528D3;
}

main.container select,
.container input {
    padding: 16px 13px;
    border-radius: 10px;
    border: 2px solid #6528D3;
    background-color: #F2EEFA;
    color: #130234;
    height: 52px;
}

main.container select:focus,
main.container input:focus,
main.container select:focus-visible,
main.container input:focus-visible {
    outline: none;
}

main.container select.categoria {
    appearance: none;
    background: url(../images/seta-para-baixo.png) 97% center no-repeat;
}

main.container .btn-filter {
    border: none;
    background-color: #6528D3;
    color: #EDEDED;
    padding: 16px 32px;
    font-weight: 500;
    align-self: end;
    border-radius: 10px;
    max-width: 177px;
    max-height: 52px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0, 3s;
}

main.container .btn-filter:hover {
    background-color: #33008F
}

main.container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 32px;
}

main.container .cards .card {
    max-width: 365px;
    background-color: #EDEDED;
    color: #0E0027;
    box-shadow: 0 6px 12px rgb(0, 0, 0, 0.2);
    border-radius: 20px;

}

main.container .card img {
    width: 100%;
    padding: 20px;
}

main.container .card .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main.container .card .info .nome-personagem {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

main.container .card .info .categoria {
    font-size: 16px;
    font-weight: 400;
    color: #111111;
}

main.container .card .info .preco {
    font-size: 24px;
    letter-spacing: 2px;
    width: 100%;
    font-weight: 700;
    color: #4D8E5C;
}

main.container .card .info .btn-comprar {
    color: #ededed;
    background-color: #6528d3;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}

main.container .card .info .btn-comprar:hover {
    background-color: #33008F;
}

footer {
    background-color: #6528D3;
    display: flex;
    justify-content: center;
    color: #EDEDED;
    padding: 20px;
    margin-top: 60px;
}


.hide {
    display: none;
}

.show {
    display: block;
}